@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url("../public/home.jpeg");
  background-position: 30%;
  background-size: cover;
}
.works {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url("../public/works.jpeg");
  background-size: cover;
}
